<div class="fly-footer" id="f">
    <p><a href="http://www.baidu.com" target="_blank">资源分享网</a> 2020 &copy; <a href="http://www.baidu.com" target="_blank">ay.com 出品</a></p>
    <p>
        <a onclick="mzsm()">免责申明</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=1255879874&site=qq&menu=yes" target="_blank" style="color: red">侵权举报</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=1255879874&site=qq&menu=yes" target="_blank">广告合作</a>
        <a href="http://www.baidu.com" target="_blank">站长博客</a>
        <script type="text/javascript" src="https://js.users.51.la/19685055.js"></script>
    </p>
    Copyright © 2020 资源分享网 版权所有
</div>
